<html>
    <head>
        <link rel="shortcut icon" href="#">
        <title>travel meadowlark</title>
    </head>
    <body>
        <header><img src="{{{images/logo.png}}}" alt="travel logo"></header>
        {{{body}}}
    </body>
</html>